/*=============排版============*/
#HeaderContainer,#FooterContainer
{
	clear:both;
}
#ArticleContainer
{
	width:74%;
	float:left;
}
#SidebarContainer
{
	width:22%;
	float:left;
}
body{
	-webkit-text-size-adjust:none;
	max-width:1200px;
	position:relative;
	margin:0 auto
}
/*===============模块样式================*/
#HeaderContainer
{
	padding:1.5em 55px;
}
#ArticleContainer
{
	border-right: 1px solid #e0e0e0;
}
.article
{
	margin-top:0;
	margin-bottom:0;
	padding-top:2em;
	padding-left:55px;
	padding-right:55px;
	border:0;
}
.article_title 
{
	margin-bottom:1.5em;
}
.article_title a
{
	text-decoration:none;
	color:black;
}
.article_title a:hover
{
	text-decoration:underline;
	color:#4172da;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
#SidebarContainer
{
	padding:20px;
}
ul
{
	list-style:none;
}
#HeaderContainer h1 a
{
	text-decoration:none;
}
.article_next
{
	display:block;
	margin-top:1em;
	padding-bottom:2.5em;
	padding-left:55px;
	padding-right:55px;
}
.article_next a
{
	background: #ebebeb;
	display: inline-block;
	padding: .6em 1.2em;
	margin-right: .5em;
	text-decoration: none;
	color: #666;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
.article_next a:hover
{
	background-color: #4172da;
	color:#f2f2f2;
}
#FooterContainer
{
	border-bottom-right-radius: 0.4em;
	z-index: 1;
	border-top: 1px solid #f2f2f2;
	position: relative;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 55px;
	padding-right: 55px;
}
/*===============字体================*/
#FooterContainer
{
	font-size: .8em;
	color: #888;
	text-shadow: #d9d9d9 0 1px;	
	font-family: "PT Sans", "Helvetica Neue", Arial, sans-serif;
}
.article_next a
{
	font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
	font-size:1.2em;
	font-weight:bold;
}
.article_title a
{
	font-size:2.2em;
	font-weight:bold;
}
/*==============配色================*/
html
{
	background:#252525;
}
#HeaderContainer,#HeaderContainer h1 a
{
	color:#f2f2f2;
}
#Container
{
	background:#f2f2f2 url('../data/images/noise.png') top left;
	border-bottom: 1px solid #bfbfbf;
}
#HeaderContainer
{
	background:#333;
}
#ArticleContainer
{
	background:#f8f8f8;
}
#FooterContainer
{
	background-color: #ccc;
	background: url('../data/images/noise.png'),-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0e0e0), color-stop(50%, #cccccc), color-stop(100%, #b0b0b0));
}
.article
{
	background: url('../data/images/dotline.png') top left repeat-x;
}